footer {
    height: $footer_h;
    font-size: $f_size;

    .container {
        @include flex(row-reverse, space-between, center);
        height: 100%;

        // top - right: lang (select)
        .lang {
            // background-color: green;
        }

        // btm - left: brand-menu
        .brand-menu {

            ul {
                li {
                    font-size: $f_size * 0.8;
                    margin-right: $spacing;
                }
            }
        }
    } // end container
}
