footer {
    height: $footer_h;
    font-size: $f_size;
    color: lighten(desaturate(adjust-hue($col_primary, 8), 0.99), 14.12);
    background-color: $bg_primary;
    border-top: 1px solid lighten(desaturate(adjust-hue($col_primary, 8), 0.99), 14.12);

    .container {
        @include flex(row-reverse, space-between, center);
        height: 100%;

        // top - right: lang (select)
        .lang {
            // background-color: green;
        }

        // btm - left: brand-menu
        .brand-menu {

            ul {
                li {
                    font-size: $f_size * 0.8;
                    margin-right: $spacing;
                }
            }
        }
    } // end container
}
