// font
$f_family: 'PT Sans', sans-serif;
$f_size: 14px;

// spacing
$spacing: 8px;

// color
$primary: #3367D7;
$col_primary: #3C4043; //lighten(desaturate(adjust-hue(#3c4043, 8), 0.99), 14.12)
$bg_primary: #f5f5f5;

// html
$header_h: 100px;
$header_top_h: 65px;
$footer_h: 45px;
